/*当浏览器宽度小于550px的时候.column的display为none*/
@media screen and (max-width:550px)
{
	.public-header  .container .column{
		display:none;
	}
}
/*当浏览器宽度大于550px的时候.column的display为none*/
@media screen and (min-width:549px)
{
	.public-header .container .devbtn{
		display:none;
	}
}

/*body*/
body{
	overflow-x:hidden;
}

/*claerfloat*/
.claer{
	zoom:1;
}
.clear:after{
	visibility: hidden;
	content:'';
	display:block;
	height:0;
	clear:both;
}

/*container*/
.container{
	width:80%;
	/*min-width:428px;*/
	margin:0 auto;
}

/*public-header*/
.public-header{
	width:100%;
	line-height: 46px;
	background-color:#4e4e4e;
}

/*musicbox*/
.musicbox{
	z-index:100;
	display:none;
	position:fixed;
	top:66px;
	left:12px;
	margin:auto;
	width:272px;
	height:302px;
	background:#6f6f6f;
	border-radius:10px;
	box-shadow:0 0 4px 0 #000 inset;
	z-index:101;
}


/*---------public-body---------*/
.public-body{
	position:relative;
	width:76%;
}

.public-footer{
	width:100%;
	height:46px;
	background-color:#4e4e4e;
	margin-top:12px;
	overflow:hidden;
}
